html {
  font-size: 16px; /* predeterminado */
  scroll-behavior: smooth;
}

body {
  background-color: #55595c;
  margin: 0; /* resets the default 8px from most browsers */
  text-align: center; /* centers all text elements in the website */
}

#main-header {
  background-color: white;
  padding: 5px 0; /* top&down left&right */
  margin: 20px 5% 20px 5%; /* top right down left */
}

.games-container img  {
  height: 180px;
  width: 120px;
}

#brands-section li {
  background-color: white;
  padding: 10px;
  border: 2px solid black; 
  list-style-position: inside; /* moves the bullet point inside the element */
  margin-right: 40px; /* same as native left separation for bullet point */
}

.logo {
  color: #a70184;
} 

#access-buttons i {
  color: #a70184;
  font-size: 20px;
}

#access-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* PSEUDOCLASES */

#access-buttons button:hover {
  background-color: #a70184;
}

/* cuando el usuario haga hover sobre el boton, el icono cambia su estilo */
#access-buttons button:hover i {
  color: black
}

#access-buttons a {
  text-decoration: none;
}

#access-buttons button:active {
  background-color: black;
}

#access-buttons button:active i {
  color: #a70184;
}


/* PSEUDOELEMENTOS */

#brands-section li::marker {
  color: #a70184;
  content: "👽"
}

ul {
  font-size: 20px;
}

#brands-section li::first-letter {
  color: #a70184;
  /* font-size: 26px; */
  font-size: 1.5em; /* 150% del tamaño original de la fuente */
}

#brands-section li:hover::after {
  content: "EN OFERTA! 2x1";
}


#games-section, #used-games-section, #brands-section {
  background-color: lightgray;
}

#games-section h2, #used-games-section h2, #brands-section h2 {
  color: darkgray;
  background-color: white;
  text-decoration: underline;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  background-color: #55595c;
  color: white;
  border-radius: 10px;

  width: 200px;
  height: 400px;

}

/* FLEXBOX */

#access-buttons {
  background-color: lightgray;
  height: 100px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.games-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 20px;

  padding-bottom: 20px;
}

.card:hover {
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;

}

/* Transisiones (EXTRA) */

.card {
  transition: flex-grow 0.2s ease-in
}


/* POSITION */

#access-buttons {
  /* position: fixed; */
  position: sticky;

  top: 0;
  /* left: 40px; */

}


/* #main-header {
  position: relative;

  top: -100px;
  right: 100px;
} */


#access-buttons span {
  /* position: relative;
  top: 22px */

  position: absolute;

  bottom: -20px;
  left: 0;
  right: 0;
  /* truco en posicionamiento para centrar elementos. left: 0 y right: 0 */

}

#access-buttons button {
  /* asignamos position al boton para poder mover los span de forma absoluta de acuerdo a los botones */
  position: relative;
}

/* asignar los tamaños de texto de todas las etiquetas */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

p, li {
  font-size: 1rem;
}

/* De aqui atras, todos los estilos aplican para tamaño mobile */

#responsive-container {
  display: flex;
  flex-direction: column;
}


@media (min-width: 470px) {

  /* estilos solo para tablets */

  body {
    background-color: black;
  }

  #access-buttons {
    justify-content: center;
    gap: 5px;
  }

  html {
    font-size: 20px;
  }

}


@media (min-width: 1200px) {

  /* estilos para portatiles */

  body {
    background-color: red;
  }

  #access-buttons {
    justify-content: space-evenly;
  }

  html {
    font-size: 12px;
  }

  #responsive-container {
    flex-direction: row;
  }
}


